body{
    background-color: black;
    color: white;
}
#red{
    background-color: red
}
#orange{
    background-color: orange;
}
#pink{
    background-color: pink;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}